<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "University", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Students", students_path %></li>
          <li><%= link_to "Teachers", teachers_path%></li>
          <li><%= link_to "Courses", '#' %></li>
          <li><%= link_to "Exams", '#' %></li>
          <li><%= link_to "Qualifications", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>